﻿body {
    font-family: Arial;
    font-size: 9pt;
    line-height: 20px;
}

h1{
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.tab-pane{
    padding-top: 10px;
}

.dnstree{
    border: 1px solid #eee;
}